<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <script src="/javascripts/main.js"></script>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/syllabus.css">
        <title>りかだいのしらばす</title>
    </head>
    <body>
        <header>
            <i class="fas fa-bars"></i>
            <h1><a href="/">りかだいのしらばす</a></h1>
        </header>
        <%= yield %>
        <footer>
            &copy; siroyan.tech
        </footer>
    </body>
</html>